.title {
    text-align: center;
    padding: 0 30px;
    margin-left: auto;
    width: auto;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-style: italic;
}